# Ignore builds
/target
/.cynthiaTemp

# Ignore node modules
/node_modules/
pnpm-lock.yaml

# Ignore CynthiaConfig files
/cynthiaFiles
/.env
/GETTINGSTARTED.MD
/cynthiapmanifest.json
src/client.js

# Ignore editor files
/.idea/
/tryout
*.dump
/source/Plugin-runners/node-plugin-api/dist/
