# Ignore builds
/target
/.cynthiatemp

# Ignore node modules
/node_modules/
pnpm-lock.yaml

# Ignore CynthiaConfig files
/cynthiaFiles
/.env
/GETTINGSTARTED.MD
/cynthiapmanifest.json
src/client.js
/plugins/
