# CynthiaConfig
/.env
/pack.sh
/reset.sh
/GETTINGSTARTED.MD
/cynthia_config
/site

# Clean Cynthia config
/clean_slate

# Rome and Biome configs
/rome.json
/biome.json

# Logs
/logs

# Files that npm should ignore smh
/reset.sublime-workspace
/cynthiacms-*.tgz
/.*